/* IMPORTATION DE LA POLICE RALEWAY */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');

/* PROPRIÉTÉS GÉNÉRALES */
:root {
      --white: white; /* Blanc pour le fond du site */
      --grey:#eeeeee; /* Gris pour le fond de certaines sections */
      --black: #000;/* Couleur principale du texte*/
      --blue: #0065fc;/* Couleur bleu foncé */
      --lightblue: #DEEBFF;/* Couleur bleu clair */
      --font: "Raleway", "sans-serif";/* Police */
}
*, ::before, ::after {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
body {
       margin: auto;
       font-family: var(--font);
       background-color:var(--white);
       color: #000;
       font-size: 16px;
}
a {
       text-decoration : none;
       color: inherit;
}
em {
       font-weight: bold;
}
p {
       font-family: var(--font);  
}
li {
       list-style-type: none;
}
/* Design des étoiles de notation*/
.fa-star {
       font-size: 0.7em;
       margin: -2px;
}
.blue {
  color: var(--blue);
}
.grey {
  color:var(--grey);
}
/* Animation des cartes au survol */
.hosts_card:hover, .pop_hosts_card:hover, .activities_card:hover {
       transform: scale(1.03);
}

/********************************HEADER***************************/
.header {
       position: relative;
       max-width: 1368px;
       margin: auto;
}
.logo {
       margin: 20px 10px;
       cursor: pointer;
}
.navbar_list {
       display: flex;
       justify-content: space-between;
       margin-top: 15px;
}
.nav_item {
       width: 50%;
       text-align: center;
}
.nav_item:hover {
       color: var(--blue);
}
.nav_link {
       display: block;
       border-bottom: 3px solid var(--grey);
       padding-bottom: 16px;
}
.nav_link:hover {
       color: var(--blue);
       border-bottom: 3px solid var(--blue);
}
.nav_link:active {
       color: var(--blue);
}
.signup_link {
       position: absolute;
       top: 0;
       right: 0;
       margin: 36px 20px 0 0;
       font-weight: 700;
       color: var(--blue);
}

@media screen and (min-width: 768px) {
       .header {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
       }
       .logo {
              align-items: flex-end;
              padding-bottom: 4px;
              margin: 0 10px;
       }
       .navbar {
              display: flex;
              align-items: center;
       }
       .navbar_list {
              align-items: center;
              border-bottom: none;
              margin-top:0;
       }
       .nav_item {
              width: auto;
              border-bottom: none;
       }
       .nav_link {
              display: block;
              border-top: 3px solid transparent;
              border-bottom: none;
       }
       .nav_link:hover {
              color: var(--blue);
              border-top: 3px solid var(--blue);
              border-bottom: transparent;
       }
       .nav_link, .signup_link {
              padding: 40px 32px 16px 32px;
       }
       .signup_link {
              position: relative;
              margin: 2px 0 0 0;
       }
}

/****************************MAIN***************************/
main {
       display: grid;
       grid-template-columns: 100%;
       grid-gap: 20px;
       grid-template-areas: 
              "subheader"
              "populars_hosts"
              "hosts"
              "activities";
       margin: auto;
       padding:10px;
}
@media screen and (min-width: 768px) {
       main {
              padding: 5px;
       }
}

@media screen and (min-width: 1024px) {
       main {
              max-width: 1368px;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              column-gap: 60px;
              row-gap:50px;
              grid-template-areas: 
                     "subheader subheader subheader"
                     "hosts hosts populars_hosts"
                     "activities activities activities";
              margin: 0 auto 50px auto;
       }
}

/* Section subheader*/
.subheader {
       position: relative;
       padding: 0 5px;
       grid-area: subheader;
       margin-top:28px;
}
.subheader_title {
       font-size: 1.3em;
       font-weight:700;
       line-height: 1.2em;
       margin-bottom: 10px;
}
.subheader_text {
       font-size: 0.9em;
       line-height: 1.4em;
       margin-bottom: 32px;
}
/*Search*/
.form, .form_input, .submit_btn {
       font-weight: 700;
       font-size: 1.2em;
}
.form {
       display: flex;
       margin: 32px 0;
       height: 45px;
       max-width: 500px;
}
.form_label {
       padding: 10px 18px;
       background-color: var(--grey);
       border-radius: 0.8em 0 0 0.8em;
       border: 1px solid var(--grey);
}
.form_input{
       border: 1px solid var(--grey);
       width: 70%;
       margin-left: -5px;
       font-family: var(--font);
       font-size: 0.795em;
       padding: 14px;
}
.form_input:focus {
       outline: none;
       border-color: var(--blue);
}
.submit_btn {
       border: none;
       border-radius: 14px;
       background-color: var(--blue);
       color: var(--white);
       padding: 0.9rem 1rem;
       margin-left: -1.1rem;
       width:50px;
}
.submit_btn {
       border-radius: 14px;
       position: relative;
       width: 50px;
}
.btn_text {
       display: none;
       font-family: var(--font);
}
.btn_icon {
       display: inline;
       font-size: 0.7em;
       padding: 0px;
       position: absolute;
       right: 17px;
       top: 14px;
}
/* Filters*/
.filters {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
}
.filters_title {
       display: block;
       font-size: 1em;
       font-weight: bold;
       width: 100%;
       margin-bottom:15px;
}
.filters_items {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
}
.filters_btn {
       display: flex;
       position: relative;
       flex-direction: row;
       justify-content: space-between;
       border-radius: 23px;
       height: 50px;
       margin: 0px 20px 15px 0px;
       background-color: var(--white);
       border: 3px solid var(--grey);
}
.filters_btn:hover{
       background-color: var(--blue);
       color: var(--white);
       transform: scale(1.05);
}
.filters_btn em::before {
       position: relative;
       top:15px;
}
.filters_icon {
       display: block;
       width: 50px;
       height:50px;
       color: var(--blue);
       background-color: var(--lightblue);
       border-radius:50%;
       position: relative;
       bottom:3px;
       right:5px;
}
.filters_text {
       font-family: var(--font);
       color: var(--black);
       font-size: 0.9em;
       padding: 12px 25px 15px 15px;
       font-weight: bold;
       white-space: nowrap;
}
.filters_text:hover {
       color: var(--white);
}
/*Information*/
.information {
       margin: 32px 0 15px 0;
       font-size:1em;
       display: flex;
       align-items: baseline;
} 
.information .fas {
       color: var(--blue);
       padding: 5px 10px;
       border: 1px solid #d2d2d2;
       border-radius: 50px;
       font-size: 0.75em;
       margin-right: 8px;
       display: block;
       width:25px;
       height:25px;
}
.information_text {
       font-size: 0.9em;
}

@media screen and (min-width: 768px) {
       /*Subheader*/
       .subheader {
               padding: 0;
       }
        /*Search*/
       .form {
              margin: 32px 0;
       }
       .submit_btn {
              border-radius: 0 14px 14px 0;
              width:150px;
       }
       .btn_text {
              display: block;
              font-size: 0.7em;
       }
       .btn_icon {
              display: none;
       }
}
@media screen and (min-width: 1024px) {
        /*Filters*/
      .filters {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-items: center;
              justify-content: flex-start;
              height: 60px;
       }
       .filters_btn {
              margin: 0px 20px 0px 0px;
       }
        .filters_title {
              width: auto;
              margin-right: 25px;
              margin-bottom:0px;
       }
}

/* Section hébergements*/
#hebergements {
       background-color: var(--white);
       grid-area: hosts;
       margin: 0 -10px;
       padding: 30px;
       border-radius: 0;
}
.hosts_title {
       font-size: 1.2em;
       font-weight: bold;
       margin-bottom:20px;
}
.hosts_list {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       gap:15px;
       margin-bottom :20px
}
.hosts_card {
       display: block;
       max-width: 500px;
       height: 180px;
       border-radius: 13px;
       margin: 0 auto 15px auto;
       box-shadow: 0 8px 15px #00000020;
       background-color: #fff;
       padding:5px;
}
.hosts_img {
      width: 100%;
       height: 60%;
       object-fit: cover;
       border-radius: 13px 13px 0 0;
}
.hosts_content {
       padding: 8px 10px;
       height:40%;
       display:flex;
       flex-direction: column;
       justify-content: space-between;
}
.hosts__title {
       font-weight: bold;
       font-size:1em;
}
.hosts__description {
       font-size:0.8em;
}
.read_more {
       font-size: 0.9em;
       font-weight: 700;
       display: inline;
}

@media screen and (min-width: 768px) {
       #hebergements {
              background-color: var(--grey);
              border-radius: 0;
       }
       .hosts_list {
              display: flex;
              flex-flow: wrap;
              justify-content: space-between;
              padding: 0;
              margin-bottom: 16px;
              gap: 20px;
       }
       .hosts_card {
              width: 30%;
       }
       .hosts__title {
              font-size: 0.8em;
              line-height: 1.4em;
       }
}
@media screen and (min-width: 1024px) {
       #hebergements {
              border-radius:20px;
       }
       .hosts__title {
              font-size: 0.8em;
              line-height: 1.4em;
       }
}


/* Section hébergements populaires*/
#hebergements_populaires {
       background-color: var(--grey);
       grid-area: populars_hosts;
       margin: 0 -10px;
       padding: 30px;
}
.pop_hosts_title {
       display: flex;
       justify-content: space-between;
       font-size: 1.2em;
       margin-bottom: 22px;
       font-weight: bold;
}
.pop_hosts_card {
       display: flex;
       max-width: 500px;
       height: 180px;
       border-radius: 13px;
       margin: 0 auto 15px auto;
       box-shadow: 0 8px 15px #00000020;
       background-color: #fff;
       padding:5px;
}
.pop_hosts_img {
       width: 40%;
       height: 170px;
       object-fit: cover;
       border-radius: 13px 0 0 13px;
}
.pop_hosts_content {
       display: flex;
       flex-flow: column;
       justify-content: space-between;
       padding: 8px 20px 8px 24px;
}
 .pop_hosts_info {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       height: 50%;
}
.pop__hosts__title {
       font-weight: bold;
       font-size: 1em;
}
.pop__hosts__description {
       font-size: 0.8em;
}

@media screen and (min-width: 768px) {
       .hebergements_populaires {
              padding: 32px 20px;
              background-color: var(--grey);
              padding-bottom: 0;
              border-radius: 0;
       }
       .pop_hosts_list {
              display: flex;
              justify-content: space-between;
              gap: 22px;
       }
       .pop_hosts_card {
              display: flex;
              flex-direction: column;
              width: 30%;
              height: 180px;
       }
       .pop_hosts_img {
              width: 100%;
              height: 50%;
              border-radius: 13px 13px 0 0;
       }
       .pop_hosts_content {
              display: flex;
              flex-flow: column;
              justify-content: space-between;
              height: 50%;
              padding: 8px 16px;
       }
       .pop_hosts_info {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 50%;  
       }
        .pop__hosts__title {
              font-size: 0.8em;
              line-height: 1.4em;
       }
}

@media screen and (min-width: 1024px) {
       #hebergements_populaires {
              border-radius:20px;
       }
       .pop_hosts_list {
              display: block;
       }
       .pop_hosts_card {
              width: 100%;
              max-height: 140px;
              flex-direction: row;
              margin-bottom: 30px;
       }
       .pop_hosts_img {
              width: 145px;
              max-width: 35%;
              height:100%;
              border-radius: 13px 0 0 13px;
       }
         .pop_hosts_content {
              display: flex;
              flex-flow: column;
              justify-content: space-between;
              height: 100%;
              padding: 0px 16px 10px 16px;
       }
       .pop_hosts_info {
              justify-content: space-around;
               height: 50%;
       }
       .pop__hosts__title {
              font-size: 0.8em;
              line-height: 1.4em;
       }
}

/* Section activités*/
#activites {
       grid-area: activities;
       padding: 20px;
}
.activities_title{
       font-size: 1.2em;
       font-weight: bold;
       margin-bottom: 20px;
}
.activities_large_card, .activities_medium_card, .activities_small_card,.activities_x_small_card {
       max-width: 500px;
       height: 200px;
       display: block;
       border-radius: 13px;
       margin: 0 auto 15px auto;
       box-shadow: 0 8px 15px #00000020;
       background-color: #fff;
       padding:5px;
}
.activities_img {
       width: 100%;
       height: 75%;
       object-fit: cover;
       border-radius: 13px 13px 0 0;
}
.activities_content {
       width: 100%;
       height: 25%;
       object-fit: cover;
       border-radius: 13px 13px 0 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-left: 10px;
}
.activities__title {
       font-weight: bold;
       font-size: 1em;
}

@media screen and (min-width: 768px) {
       .activities_list {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 35px;
       }
       .activities_large_card, .activities_medium_card, .activities_small_card, .activities_x_small_card {
              width: 30%;
       }
       .activities__title {
              font-size: 0.8em;
              line-height: 1.4em;
       }
}

@media screen and (min-width: 1024px) {
       #activites {
              padding: 20px 20px 20px 0;
       }
        .activities_list {
              height: 380px;
              flex-direction: column;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              column-gap: 35px;
       }
       .activities_large_card, .activities_medium_card, .activities_small_card, .activities_x_small_card {
              width: 23%;
              margin-bottom: 0px;
       }
        .activities_large_card {
               height: 100%;
        } 
        .activities_medium_card {
               height: 55%;
        } 
        .activities_small_card {
               height: 44%;
        }
        .activities_x_small_card {
               height: 35%;
        }
       .activities_large_card .activities_img{
               height: 90%;
        } 
       .activities_large_card .activities_content{
               height: 10%;
        } 
        .activities_medium_card .activities_img{
               height: 80%;
        } 
        .activities_medium_card .activities_content{
               height: 20%;
        }
        .activities_small_card .activities_img{
               height: 75%;
        } 
        .activities_small_card .activities_content{
               height: 25%;
        }
       .activities_x_small_card .activities_img{
               height: 70%;
        } 
        .activities_x_small_card .activities_content{
               height: 30%;
        }
        .activities__title {
              font-size: 0.8em;
       }
}

/********************** FOOTER***********************/
.footer {
       background-color: var(--grey);
}
.footer_container {
       padding: 22px;
       max-width: 1440px;
       margin: auto;
       display: flex;
       flex-wrap:wrap;
}
.footer_column {
       margin: 0 8px;
       width: 100%;
}
.footer_list_title {
       font-size: 1.125em;
       font-weight: 700;
       padding-bottom: 18px;
}
.footer_list {
       padding: 0;
       margin-bottom: 36px;
}
.footer_list_item {
       padding: 8px 0;
       font-size: 0.8em;
}
.footer_list_item a:hover {
       color: var(--blue);
}

@media screen and (min-width: 768px) {
       .footer_container {
              padding: 30px;
       }
       .footer_column {
              width:50%;
              margin: 0;
       }
}
@media screen and (min-width: 1024px) {
        .footer_container {
              display: flex;
              justify-content: space-between;
       }
       .footer_column {
              width: 30%;
       }
}

